.sc-table-holder{
    overflow-x: auto;
    width:90%;
    margin: 30px auto;
    transition: height 0.5s linear;
    overflow-y: hidden;
}
.sc-table
{
border-collapse: collapse;
border-spacing: 0px;
width:100%;
}
.sc-table-title{
    background: #003831;
    font-family: sans-serif;
    color: #EFB21E;
    padding: 15px 5px;
    font-size: 18px;
}
.sc-table th,.sc-table td
{
text-align: center;
padding: 3px;
border: 1px solid black;
font-size:18px;
border-top:0px;
}
.sc-table th{
    padding:5px;
}
@media(min-width:425px){
    .sc-table th, .sc-table td{
                    padding:5px;
                }
}
@media(min-width:768px){
                .sc-table-holder{
                    width:80%;
                }
                .sc-table-title{
                    font-size:25px;
                    padding:20px 10px;
                }
            }